# Python Fundamentos - Capítulo 3

## Exercícios - Métodos e Funções

In [ ]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números

In [35]:
def numerosPared():
    for num in range(2,21,2):
           print(num)

In [36]:
numerosPared()

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string

In [48]:
def maiuscula (texto):
    return texto.upper()

In [51]:
maiuscula('teste')

'TESTE'

In [ ]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista

In [53]:
def adicionaElementos(lista):
    print(lista.append(5))
    print(lista.append(6))

In [54]:
lista1 = [1,2,3,4,5]

adicionaElementos(lista1)

print(lista1)

None
None
[1, 2, 3, 4, 5, 5, 6]

In [ ]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [56]:
def printNums(arg,*lista):
    print(arg)
    for n in lista:
        print(n)

In [58]:
printNums('elementos')

printNums(1,2,3,4)

elementos
1
2
3
4

In [ ]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles

In [59]:
var1 = lambda x ,y: x+y

print(var1(2,3))

5

In [61]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

In [68]:
# Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
# Crie uma função anônima que converta cada temperatura para Fahrenheit
# Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 
# (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
# Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [ ]:
# Exercício 8
# Crie um dicionário e liste todos os métodos e atributos do dicionário

In [72]:
dic = {'c1':'valor','c2':'valor'}

dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# Exercício 9
# Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados.
# Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.
import pandas as pd
dir(pd)

In [77]:
# ************* Desafio ************* (pesquise na documentação Python)

# Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
import pandas as pd
file_name = "binary.csv"


def sumario (arquivo):
    df = pd.read_csv(arquivo)
    return df.describe()
    
sumario(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000

In [2]:
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i
    print(soma)

print(soma)

64
170
340
360
390
424
462
462